
body{
    background-color: ##FFFFFF;
    color: #212121;
    font-family: "Roboto", sans-serif; }

    /*колір основного фону           #FFFFFF */
    /*колір другорядного фону        #F5F5F5 */
    /*колір основного тексту         #212121 */
    /*колір другорядного тексту      #757575 */
    /*акцент                         #2196F3 */
    /*інші кольори #F5F4FA; #2F303A; #000000 */
    /* color: rgba(255, 255, 255, 0.6); */
 ul {
    list-style: none;}

 a {
    font-family: "Roboto", sans-serif;
    font-style: normal; }

.link {
    text-decoration: none;}
.link:hover{
    color: #2196F3;}

/*header styles*/
.header{
    font-weight: 500;
    font-size: 12px;
    line-height: calc(12/16);
}

/*logo*/
.logo{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(26/31);}

.logo-beginning {
    color: #2196F3;}

.logo-ending {
    color: #000000;}

.logo-footerending {
    color: #FFFFFF;
}

.header-contacts{
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(14/16);
}
.header-contacts:hover,
.header-contacts:focus{
    color: #2196F3;
}


/* main styles */
.main{
    background-color: #2F303A;
  
}
.main-header{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(44/60);
    text-transform: uppercase;
}
/*button*/
.main-button{
    background-color: #2196F3;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(16/30);
    cursor: pointer;
}
/*specifics*/
.specifics-header{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(14/16);
    text-transform: uppercase;
}
/*specifics-details*/
.details{
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(14/24);
}

/*services*/
.services-header .team-header{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(36/42);
}

/*team*/
.team{
    background-color: #F5F4FA;
}
.teammate{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(16/19);
}

    
/*team-profesions*/
.profession{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(16/19);
}


/* footer*/
.footer{
    background-color: #2F303A;
    color: #FFFFFF;
    }

.adress-link{
            color: #FFFFFF;
            font-weight: 400;
            font-size: 14px;
            line-height: calc(14/24);
}

.contacts-link{
    font-weight: 400;
    font-size: 14px;
    line-height: calc(14/24);
    color: rgba(255, 255, 255, 0.6);
}
.contacts-link:hover,
.contacts-link:focus{
    color: #2196F3
}
/*portfolio*/
.portfolio-button{
    background-color: #F5F4FA;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(16/26);
}
.portfolio-button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}
.portfolio-image{
    font-weight: 700;
        font-size: 18px;
        line-height: calc(18/36);
}
.portfolio-project{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(16/30);
}

.projects-veb,
.projects-aplications,
.projects-desine,
.projects-marketing

    