
/*колір основного фону           #FFFFFF */
/*колір другорядного фону        #F5F5F5 */
/*колір основного тексту         #212121 */
/*колір другорядного тексту      #757575 */
/*акцент                         #2196F3 */
/*інші кольори #F5F4FA; #2F303A; #000000 */
/* color: rgba(255, 255, 255, 0.6); */


:root{
    --primary-background-color: #FFFFFF;
    --primary-text-color: #212121;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}
body{
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif; }

 ul {
    list-style: none;}

 a {
    font-family: "Roboto", sans-serif;
    font-style: normal; }

.link {
    text-decoration: none;}
.link:hover,
.link:focus {
    color: var(--accent-color);
}

/*logo*/
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;}

.logo-beginning {
    color: #2196F3;}

.logo-ending {
    color: #000000;}

.logo-footerending {
    color: #FFFFFF;
}
/*header styles*/

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.header-contacts{
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}

/* main styles */
.main{
    background-color: #2F303A; 
}
.main-title{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/*button*/
.main-button{
    background-color: var(--accent-color);
    color:#FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    cursor: pointer;
}
.main-button:hover,
.main-button:focus {
    background-color: #188CE8;
    color: #FFFFFF;
}
/*specifics*/

.specifics-title{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
/*specifics-details*/
.details{
    color: #757575;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}

/*services*/
.services-title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;
}

/*team*/
.team{
    background-color: #F5F4FA;}

.team-header{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;}

.team-card{
    background-color: #FFFFFF;
}

.teammate{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;  
}

    
/*team-profesions*/
.profession{
    color: #757575;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: calc(19/16);
}


/* footer*/
.footer{
    background-color: #2F303A;
    }

.adress-link{
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}

.contacts-link{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/*portfolio*/
.portfolio-button{
    font-family: "Roboto", sans-serif;
    background-color: #F5F4FA;
    color: #212121;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
}
.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}
.portfolio-image{
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
}
.portfolio-project{
    color: #757575;
    font-size: 16px;
    line-height: calc(30/16);
}