
/*колір основного фону           #FFFFFF */
/*колір другорядного фону        #F5F5F5 */
/*колір основного тексту         #212121 */
/*колір другорядного тексту      #757575 */
/*акцент                         #2196F3 */
/*інші кольори #F5F4FA; #2F303A; #000000 */
/* color: rgba(255, 255, 255, 0.6); */


:root{
    --primary-background-color: #FFFFFF;
    --primary-text-color: #212121;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}
body{
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif; }

 ul {
    list-style: none;}

 a {
    font-family: "Roboto", sans-serif;
    font-style: normal; }

.link {
    text-decoration: none;}
.link:hover,
.link:focus{
    color: var(--accent-color);}
.title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

/*header styles*/
.header{
    font-weight: 500;
    font-size: 12px;
    line-height: calc(12/16);
}

/*logo*/
.logo{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);}

.logo-beginning {
    color: #2196F3;}

.logo-ending {
    color: #000000;}

.logo-footerending {
    color: #FFFFFF;
}

.header-contacts{
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
}

/* main styles */
.main{
    background-color: #2F303A;
  
}
.main-header{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-transform: uppercase;
}
/*button*/
.main-button{
    background-color: #2196F3;
    color:#FFFFFF;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    cursor: pointer;
}
/*specifics*/
/* .specifics, 
.services,
.portfolio{
}*/
.specifics-title{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
}
/*specifics-details*/
.details{
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
}

/*services*/
.services-header .team-header{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
}

/*team*/
.team{
    background-color: #F5F4FA;}

.team-header{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36)}

.teammate{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);}

    
/*team-profesions*/
.profession{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
}


/* footer*/
.footer{
    background-color: #2F303A;
    color: #FFFFFF;
    }

.adress-link{
            color: #FFFFFF;
            font-weight: 400;
            font-size: 14px;
            line-height: calc(24/14);
}

.contacts-link{
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    color: rgba(255, 255, 255, 0.6);
}

/*portfolio*/
.portfolio-button{
    background-color: #F5F4FA;
    cursor: pointer;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
}
.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}
.portfolio-image{
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
}
.portfolio-project{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
}
/* .projects-veb,
.projects-aplications,
.projects-desine,
.projects-marketing */


    